<div class="wrapper" style="overflow: hidden;">
    <div class="logo">
        <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt="">
    </div>
    <form class="p-3 mt-3" autocomplete="off" (ngSubmit)="loginSubmit()">

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input required [(ngModel)]="loginDetails.username" #name="ngModel" minlength="4" name="username" matInput
                placeholder="Enter here">


        </mat-form-field>

        <!--Password-->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>User Password</mat-label>
            <input required name="password" [(ngModel)]="loginDetails.password" type="password" matInput
                placeholder="Enter here">
        </mat-form-field>
        <button class="btn mt-3">Login</button>
    </form>
    <div class="text-center fs-6">
        <a>Forget password?</a> or <a routerLink="/register">Sign up</a>
    </div>


</div>